
<!-- for special classes like mat-display-2, use: ng add @angular/material -->
<div class="main-container">
    <h1 class="mat-display-2" style="text-align: center; font-weight: bold; color: #fff;"> Tic-Tac-Toe</h1>
    <div class="field">
        <p class="mat-display-1"  style="color: #fff;"> Click the button to start the game!</p>
    </div>
    <div class="field" style="width: 100%; ">
        <button mat-raised-button color="accent" class="start-game-button"> Start Game</button>
    </div>
</div>